
body{
    margin:0;
    box-sizing: border-box;

}

main{
    display: grid;
    grid-template-rows: auto auto 1fr;
}
#kino-sal h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: white;
    margin-right: 60px;
    margin-left: 60px;
    background-color:  rgb(122, 52, 111);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#kino-sal nav{
    display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
}


#kino-sal{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
     background-color: rgb(17, 17, 17);
     height: 100vh;
     opacity: 0.9;
}


#projector{
    background-image: url("./img/projector.jpg");
    background-repeat: no-repeat;
    width: 590px;
    height: 300px;
    margin: 50px auto;
    position: relative;  
     
}

#first_ring{
    position: absolute;
    left: 162px;
    top: 35px;
    height: 138px;
    width: 64px;
}

#second_ring{
    position: absolute;
    left: 98px;
    top: 115px;
}

#projector p{
    font-size: 2vw;
    position: absolute;
    top: 86px;
    left: 249px;
    width: 270px;
    height: 200px;
    text-align: center;
}

#film-valg{
    background-color: rgb(150, 150, 33);
    text-align: center;
    justify-content: center;
    height: 50vh;

        
}

#movie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: black;
    padding:20px 0 20px 0;
    width: 100vw;
    

}

#movie img{
    overflow: hidden;
}

#film-valg h1{
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}


#mat{
    background-color: white;
    position: relative;
    width: 50%;
    margin: auto;
}

#mat h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: rgb(122, 52, 111);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#billett_skjema div input[type=radio] {    
    display: none;
}
#billett_skjema input[type=text], #billett_skjema input[type=date], #billett_skjema input[type=number] {
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.125s;
    width: 92%;
}
#billett_skjema input[type=text]:focus, #billett_skjema input[type=number]:focus{
    outline: none;    
}



#billett_skjema input[type=radio] + label{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.125s;
}
#billett_skjema input[type=radio]:checked + label {
    background-color: rgb(87, 100, 26);
    color: white;
}

#billett_skjema div .check {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: white;
    color: white;
}

#billett_skjema div input[type=radio]:checked + label .check {
    color: #333;  
    background-color:  rgb(125, 138, 69);  
}
#send{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#btnSend, #btnReset{
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    background-color:  rgb(87, 100, 26);
    color: white;
    border-radius: 44px;
    overflow: hidden;
    outline: none;
    margin: auto;
}

#btnSend:hover, #btnReset:hover{
    outline: none;
}

#matVarer{
    /*position: absolute;
    top: 70px;
    left: 460px;*/
    margin: 70px auto;
    width: 90px;
    height: 90px;
    /*background-image: url('./img/popcorn.jpg');*/
    background-size: cover;
}


